<nav class="navigation">
    <section class="container">
        <a class="navigation-title" href="/">nyorem</a>
        <input type="checkbox" id="menu-control"/>
        <label class="menu-mobile float-right " for="menu-control">
            <span class="btn-mobile float-right ">&#9776;</span>
            <ul class="navigation-list">
                <li class="navigation-item align-left"><a class="navigation-link" href="/posts">Blog</a></li>
                <li class="navigation-item align-left"><a class="navigation-link" href="/page/about">About</a></li>
            </ul>
        </label>
    </section>
</nav>
